<h1>Welcome to Edynak ToDo List</h1>
<p class="lead">Please register an account or sign in to continue</p>
<%= link_to "Sign Up", root_path, class: 'btn btn-primary' %>
<%= link_to "Login", root_path, class: 'btn btn-success' %>